
@{
    ViewData["Title"] = "View";
}

    <html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title></title>
    </head>
    <body>
        <nav>
            <a href="https://localhost:44385/useful/colored">Random background color</a> <br />
            <a href="https://localhost:44385/useful/email?email=is@this.valid">Valid email</a>
            <a href="https://localhost:44385/useful/email?email=not_valid_email.com">Not a valid email</a>
        </nav>

    </body>
    </html>


