
@{
    ViewData["Title"] = "Home";
}

<h2>Where do we go today buddy?</h2>
<a href="https://localhost:44305/Index">Accounts</a>
<a href="https://localhost:44305/Test">Just some random things</a>
<a href="https://www.google.com">Jeesus this site is terrible take me back to google</a>

<p>WARNING: CSS not available on this site</p>
