
@{
    ViewData["Title"] = "Login";
}

    <html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Login</title>
    </head>
    <body>
        <header>Welcome to Programmer Fox Club!</header>
        <p>Please provide a name of your fox!</p>
        <form action="" method="post" class="speaker-form">
            <div class="input-field">
                <label for="name">Name</label>
                <input type="text" name="name" id="name" />
                <button>GO</button>
                <button onclick="location.href='https://youtu.be/zBpZTo1dlPM?t=35'" type="button">GO FASTER</button>
            </div>
        </form>
    </body>
    </html>

