@using Foxclub.Models;

@model Fox;

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Nutrition Store  </title>
</head>
<body>
    <form action="" method="post" class="speaker-form">
        Food:<select>
            <option>pizza</option>
            <option>lasagne</option>
            <option>spaghetti carbonara</option>
            <option>ice-cream</option>
        </select>
        Drinks:<select>
            <option>red bull</option>
            <option>water</option>
            <option>beer</option>
            <option>kofola</option>
        </select>
        <button>Change</button>
    </form>

</body>
</html>

