body {
    
}
table {
    padding: 10px;
    margin: 10px;
    font-size: 30px;
    text-align: center;
    border: 2px solid;
    padding: 5px;
    border-spacing: 0px;
}
td {
    border: 1px solid;
    margin: 5px;
    background-color: green;
}
.bad {
    background-color: red;
}
